mysql-connector-python==8.2.0
python-dotenv
boto3
pydantic
alembic
SQLAlchemy
paramiko  
sshtunnel
yfinance
pandas
etf-scraper
norgatedata
cachetools
tqdm
pymysql
scikit-learn


plotly
streamlit
pytz
python-dateutil

tradingview-screener
git+https://github.com/rongardF/tvdatafeed.git
